* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.imagenext {
    width: 150px;
    height: 50px;
}

.menu-hamburguer {
    display: none;
    background-color: white;
    border: none;
    cursor: pointer;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

/*

Mobile first

*/

.menu-hamburguer {
    display: none;
    background-color: white;
}

@media screen and (max-width: 760px) {

    header {
        width: 100%;
        height: auto;
    }

    nav {
        height: 50px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    .left-header {
        width: auto;
        display: flex;
        align-items: center;
    }

    .menu-hamburguer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .fa-bars {
        font-size: 20px;
    }

    /* MENU ESCONDIDO */
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: gray;
        padding: 3%;
        gap: 15px;
        transition: 0.7;
    }

    /* MENU QUANDO ESTIVER ATIVO */
    .nav-links.active {
        display: flex;
    }

    .right-header {
        width: 70%;
        display: flex;
        align-items: center;
    }

    .imagenext {
        width: 150px;
        height: 50px;
        margin: 0;
    }

    .parte1,
    .parte2 {
        width: 100%;
        height: auto;
        padding: 3%;
    }

    .title-nextline{
        padding-left: 10%;
    }
}
